<app-preloader [handlePreloader]="preloaderStatus"></app-preloader>
<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="content-wrapper">
    <div class="section-container">
        <h2>Projects</h2>

        <mat-tab-group animationDuration="0ms" (selectedTabChange)="handleTabChange($event)">
            <mat-tab label="For Approval" (selectedTabChange)="getForApprovalProjects()">
                <div *ngIf="forApprovalListDisplay">
                    <div class="project-container">
                        <div class="list">
                            <div *ngFor="let project of forApprovalList" (click)="useDesign(project)"><app-tile [data]="project"></app-tile></div>
                        </div>
                    </div>
                    <app-pagination class="pagination" [totalPage]="forApprovalTotalPage" [currentPage]="forApprovalCurrentPage" (newPage)="pagination('forApproval', $event)"></app-pagination>
                </div>
                <div class="placeholder" *ngIf="!forApprovalListDisplay">No data to display</div>
            </mat-tab>
            <mat-tab label="Approved" (selectedTabChange)="getApprovedProjects()">
                <div *ngIf="approvedListDisplay">
                    <div class="project-container">
                        <div class="list">
                            <div *ngFor="let project of approvedList" (click)="useDesign(project)"><app-tile [data]="project"></app-tile></div>
                        </div>
                    </div>
                    <app-pagination class="pagination" [totalPage]="approvedTotalPage" [currentPage]="approvedCurrentPage" (newPage)="pagination('approved', $event)"></app-pagination>
                </div>
                <div class="placeholder" *ngIf="!approvedListDisplay">No data to display</div>
            </mat-tab>
            <mat-tab label="Rejected" (selectedTabChange)="getRejectedProjects()">
                <div *ngIf="rejectedListDisplay">
                    <div class="project-container">
                        <div class="list">
                            <div *ngFor="let project of rejectedList" (click)="editDesign(project)"><app-tile [data]="project"></app-tile></div>
                        </div>
                    </div>
                    <app-pagination class="pagination" [totalPage]="rejectedTotalPage" [currentPage]="rejectedCurrentPage" (newPage)="pagination('rejected', $event)"></app-pagination>
                </div>
                <div class="placeholder" *ngIf="!rejectedListDisplay">No data to display</div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>