<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="content-wrapper">
    <div class="section-container">
        <h2>Recent Designs</h2>
        <div class="list">
            <div *ngFor="let template of templateList" (click)="handleRecentDesign(template)"><app-tile [data]="template"></app-tile></div>
        </div>
    </div>
    <div class="section-container">
        <h2>Recent Templates</h2>
        <div class="list">
            <app-tile *ngFor="let design of designList" [data]="design"></app-tile>
        </div>
    </div>
</div>