.section-container {
    margin-bottom: 5em;

    h2 {
        font-family: 'Montserrat-SemiBold';
    }

    .list {
        display: flex;
        flex-direction: row;
        flex: 1;
        flex-wrap: wrap;
    
        div {
            margin-right: 20px;
        }
    }
}