<div class="modal modal-wrapper">
    <div class="modal-container" *ngIf="data.details.type === 'withContent'">
        <div class="modal-content">
            <div class="flex">
                <div class="overview">
                    <div style="background-color: {{data.details.bgColor}}"></div>
                </div>
                <div class="details">
                    <h2>{{data.details.title}}</h2>
                    <p>{{data.details.category}}</p>
                    <div class="actions">
                        <div *ngFor="let action of data.actions" class="btn">{{action.label}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="close-btn" [mat-dialog-close]>
            <fa-icon [icon]="faTimes"></fa-icon>
        </div>
    </div>
    <div class="modal-container prompt" *ngIf="data.details.type === 'prompt'">
        <div class="modal-content">
            <div class="modal-content-details">
                <div class="message">{{data.details.message}}</div>
                <div class="action-btn" [mat-dialog-close]>OK</div>
            </div>
        </div>
    </div>
    <div class="modal-container option" *ngIf="data.details.type === 'option'">
        <div class="modal-content">
            <div class="modal-content-details">
                <div class="message">{{data.details.message}}</div>
                <div class="subtext">{{data.details.subtext}}</div>
                <div class="btns-container">
                    <div *ngFor="let actionBtn of data.actions"
                    [style.color]="actionBtn.color"
                    [style.background]="actionBtn.background" (click)="handleDialog(actionBtn.id)">{{actionBtn.label}} <span>{{actionBtn.sublabel}}</span></div>
                </div>
            </div>
        </div>
    </div>
</div>