.modal {
    position: relative;

    .modal-container {
        width: 85%;
        margin: auto;
        background-color: white;
        padding: 20px;
        padding: 15px;
        box-sizing: border-box;
        border-radius: 10px;
        box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);

        .modal-content {
            padding: 15px;
            box-sizing: border-box;
        
            .flex {
                & > div {
                    justify-content: space-between;
                }
        
                .overview {
                    width: 60%;
        
                    div {
                        width: 100%;
                        height: 300px;
                        background-color: #e0e0e0;
                        border-radius: 10px;
                    }
                }
        
                .details {
                    width: 40%;
                    padding: 0 0 0 20px;
                    box-sizing: border-box;
        
                    h2 {
                        font-family: 'Montserrat-SemiBold';
                        margin: 0;
                    }
        
                    p {
                        margin: 0;
                        font-size: 9pt;
                    }
        
                    .actions {
                        margin-top: 2em;
        
                        .btn {
                            background-color: #e6e6e6;
                            color: black;
                            font-family: 'Montserrat-SemiBold';
                            text-align: center;
                            padding: 10px;
                            width: 100%;
                            border-radius: 5px;
                            cursor: pointer;
                            margin: 0 0 10px 0;

                            &:hover {
                                background-color: #f8870b;
                                color: white;
                            }
                        }
                    }
                }
            }
        }

        .close-btn {
            position: absolute;
            top: 0;
            right: -5px;
            color: white;
            background: black;
            padding: 10px 15px;
            border-radius: 100px;
            cursor: pointer;
            font-size: 18pt;
            font-family: 'Montserrat-SemiBold';
        }
    }
}

::ng-deep .mat-dialog-container {
    box-shadow: none;
    background-color: transparent;
}