<div class="section-container">
    <div class="section-content">
        <div class="summary-count">
            <div class="design-template">
                <h4>Designs and Templates</h4>
                <div class="total-count">
                    <div>15<br><span>Designs</span></div>
                    <div>5<br><span>Templates</span></div>
                </div>
            </div>
            <div class="template">
                <h4>Templates Usage</h4>
                <div class="total-count">
                    <div>20%<br><span>Percentage of users who rely on templates</span></div>
                </div>
            </div>
            <div class="total">
                <h4>Total Users</h4>
                <div class="total-count">
                    <div>15</div>
                </div>
            </div>
        </div>
        <div class="summary-details">
            <div>
                <p>details</p>
            </div>
            <div class="details-2">
                <p>Details</p>
            </div>
        </div>
    </div>
</div>
