<div class="wrapper wrapper-create">
    <div class="content flex">
        <ul class="menu-container">
            <li class="home-link"><fa-icon [icon]="faAngleLeft"></fa-icon><a href="" [routerLink]="['/home']">Home</a></li>
            <li>
                <!-- File
                <div class="submenu">
                    <div class="header-title">
                        <h4>Untitled Design</h4>
                        <div><fa-icon [icon]="faPen"></fa-icon></div>
                    </div>
                    <hr>
                    <div class="menu">Create new design</div>
                    <div class="menu">Download</div>
                    <div class="menu">Share</div>
                    <div class="menu">Save</div>
                </div> -->
                <button mat-button [matMenuTriggerFor]="fileSettings" class="file">File</button>
                <mat-menu #fileSettings="matMenu">
                    <div mat-menu-item (click)="$event.stopPropagation();"class="header-title">
                        <div class="file-title">
                            <div>
                                <p *ngIf="!setFileName">{{templateFileName}}</p>
                                <form [formGroup]="templateForm">
                                    <input type="text" *ngIf="setFileName" formControlName="templateName"  #fileNameInput)>
                                </form>
                            </div>
                            <div (click)="setTemplateFileName($event)"><fa-icon [icon]="faPen"></fa-icon></div>
                        </div>
                        <!-- <h4>Untitled Design</h4>
                        <div></div> -->
                    </div>
                    <div mat-menu-item>Create New Design</div>
                    <div mat-menu-item>Submit for Review</div>
                </mat-menu>
            </li>
        </ul>
        <div class="btn-container">
            <!-- only display these if design has been approved by admin
            <div class="btn share" (click)="saveAsImage()">Share</div>
            <div class="btn download" (click)="downloadDesign()">Download</div>
            -->
            <div class="btn download" (click)="downloadDesign()">Submit for Review</div>
        </div>
    </div>
</div>