<div class="wrapper">
    <div class="content flex">
        <ul class="menu-container">
            <li class="home-link"><fa-icon [icon]="faAngleLeft"></fa-icon><a href="" [routerLink]="['/home']">Home</a></li>
            <li>File
                <div class="submenu">
                    <div class="header-title">
                        <h4>Untitled Design</h4>
                        <div><fa-icon [icon]="faPen"></fa-icon></div>
                    </div>
                    <hr>
                    <div class="menu">Create new design</div>
                    <!-- share and download button are only available for approved design 
                    <div class="menu">Download</div>
                    <div class="menu">Share</div>
                    -->
                    <div class="menu">Save Changes</div> 
                    <div class="menu">Submit for Review</div>
                </div>
            </li>
        </ul>
        <div class="btn-container">
            <!-- only display these if design has been approved by admin
            <div class="btn share" (click)="saveAsImage()">Share</div>
            <div class="btn download" (click)="downloadDesign()">Download</div>
            -->
            <div class="btn share" (click)="downloadDesign()">Submit for Review</div>
        </div>
    </div>
</div>