
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$fhi-primary: mat.define-palette(mat.$indigo-palette);
$fhi-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$fhi-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$fhi-theme: mat.define-light-theme((
  color: (
    primary: $fhi-primary,
    accent: $fhi-accent,
    warn: $fhi-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($fhi-theme);

@font-face {
    font-family: 'Montserrat-Reg';
    src: url('assets/fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('assets/fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Black';
    src: url('assets/fonts/Montserrat-Black.ttf') format('truetype');
}

/* You can add global styles to this file, and also import other style files */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

* {
    box-sizing: border-box;
    font-family: "Montserrat-Reg";
}

.content-wrapper {
    padding: 90px 20px 0 120px;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.input-container {
    input {
        border: 0;
        border-bottom: 1px solid black;
        text-align: center;
        padding: 10px;
    }
}
